<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<footer class="footer-nav footer-nav-user">
	 <div class="footer-Line">
		 <nav class="Fm-footNav">
			<ul class="foot-list">
			  <li class="foot-menu"><%= link_to "About", root_path, class: "foot-link" %></li>
			  <li class="foot-menu"><%= link_to "Contact", root_path, class: "foot-link" %></li>
			  <li class="foot-menu"><%= link_to "Help", root_path, class: "foot-link" %></li>
			</ul>
		 </nav>
	</div>
</footer>
