<% if logged_in? %>
<p><%= @user.name %></p>
<!-- application helperからメソッド呼び出し -->
<%= image_for(@user, :size => "120x120") %>
<%= link_to 'Edit', edit_user_path(current_user) %>
<div class="pro-show">
  <% if @user.projects.any? %>
  <h3>Created project(<%= @user.projects.count %>)</h3>
  <%= link_to 'All Project', root_path %>
  <% end %>
</div>
<% else %>
<h3>ログインしてください</h3>
<%= render 'shared/login_form' %>
<% end %>
