<%= form_for(card, url: project_cards_path(project)) do |f| %>
  <div class="caform">
    <%= render 'shared/errors', object: f.object %>
    <!-- subject -->
    <div class="pro-input">
      <%= f.label :subject, class: "label" %>
      <%= f.text_field :subject, class: "field" %>
    </div>
    <p class="card-picture">
      <%= f.file_field :card_picture, accept: 'image/jpeg,image/jpg,image/gif,image/png', id: "cafile" %>
      <div id="capreview"></div>
    </p>
    <%= f.submit yield(:card_add), class: "submit-btn", data:{disable_with:'Resist'} %>
  </div>
<% end %>
