<% cards.each do |card| %>
  <li id="card-<%= card.id %>" class="card-list" style="display:inline-block">
    <%= link_to card_path(card.id) do %>
    <p class="card-subject"><%= card.subject %></p>
      <% if card.card_picture? %>
        <p class="card-image"><%= image_tag card.card_picture.url, :size => "120x120" %></p>
      <% else %>
        <p class="card-image"><%= image_tag 'default.png', :size => "120x120" %></p>
      <% end %>
    <p class="card-time">
      Posted <%= time_ago_in_words(card.created_at) %> ago.
    </p>
    <% end %>
  </li>
<% end %>
