<% projects.each do |pro| %>
  <div id="project-<%= pro.id %>" class="pro-list">
    <%= link_to project_path(pro.id) do %>
    <p class="pro-name"><%= pro.name.truncate(16) %></p>
    <div class="pic-box">
      <% if pro.picture? %>
        <p class="pro-image"><%= image_tag pro.picture.url, :size => "130x130" %></p>
      <% else %>
        <p class="pro-image"><%= image_tag 'default.png', :size => "130x130" %></p>
      <% end %>
    </div>
    <% unless pro.categories.blank? %>
      <ul class="cate-list"><% pro.categories.each do |category| %>
          <li class="cate-eachlist"><%= category.name %></li>
      <% end %></ul>
    <% end %>
    <p class="pro-time">
      Updated <%= time_ago_in_words(pro.updated_at) %> ago
    </p>
    <% end %>
  </div>
<% end %>
