<% projects.each do |pro| %>
  <li id="project-<%= pro.id %>" class="pro-list" style="display:inline-block">
    <%= link_to project_path(pro.id) do %>
    <p class="pro-name"><%= pro.name %></p>
      <% if pro.picture? %>
        <p class="pro-image"><%= image_tag pro.picture.url, :size => "200x200" %></p>
      <% else %>
        <p class="pro-image"><%= image_tag 'default.png', :size => "200x200" %></p>
      <% end %>
    <% end %>
    <% unless pro.categories.blank? %>
      <ul><% pro.categories.each do |category| %>
          <li><%= category.name %></li>
      <% end %></ul>
    <% end %>
    <p class="pro-time">
      Posted <%= time_ago_in_words(pro.created_at) %> ago.
    </p>
  </li>
<% end %>
