<div>
  <%= form_for(project) do |f| %>
    <%= render 'shared/errors', object: f.object %>
      <!-- name -->
      <%= f.label :title %>
      <%= f.text_field :name %>
      <p class="pro-picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/jpg,image/gif,image/png'  %>
      </p>
      <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
