<div id="proadd-modal" class="hidden">
  <%= form_for(project) do |f| %>
    <%= render 'shared/errors', object: f.object %>
      <!-- name -->
      <p class="pro-input">
        <%= f.label :title, class: "label" %>
        <%= f.text_field :name, class: "field" %>
      </p>
      <!-- description -->
      <p class="pro-input">
        <%= f.label :description, class: "label" %>
        <%= f.text_area :description, class: "field", size: "55x7" %>
      </p>
      <!-- image -->
      <p class="pro-picture">
        プロジェクト画像
      <%= f.file_field :picture, accept: 'image/jpeg,image/jpg,image/gif,image/png',id: "file" %>
      <div id="preview"></div>
      </p>
      <!-- tag -->
      <div class="project-tags-field">
        <p>※タグは20文字までです。</p>
        <%= f.label "カテゴリー" %>
        <ul id="myTags"></ul>
        <%= hidden_field_tag :category_hidden, @category_list %>
      </div>
      <%= f.submit yield(:project_add), class: "submit-btn", data:{disable_with:'Create'} %>
  <% end %>
</div>
<%= javascript_include_tag 'projects' %>
