<div>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/errors' %>
    <!-- name -->
    <%= f.label :name %>
    <%= f.text_field :name %>
    <!-- email -->
    <%= f.label :email %>
    <%= f.email_field :email %>
    <!-- password -->
    <%= f.label :password %>
    <%= f.password_field :password %>
    <!-- password_confirmation -->
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <!-- submit -->
    <%= f.submit yield(:button_text) %>
    <span class="picture">
    <%= image_tag @user.user_image.url if @user.user_image? %>
    <%= f.file_field :user_image %>
    </span>
  <% end %>
</div>
