<% if logged_in? %>
<%= link_to "Profile", current_user %>
<h1>ログイン済みです。</h1>
<%= current_user.name %>
<%= link_to "Settings", edit_user_path(current_user) %>
<%= link_to "Log out", logout_path, method: :delete %>
<% else %>
<div>
  <h2>Signup</h2>
</div>
<% provide(:button_text, 'Create my account') %>
<%= render 'shared/user_form' %>
<div>
  <h2>Log in</h2>
</div>
<div id ="login-form">
  <%= form_for(:session, url: login_path) do |f| %>
    <!-- email -->
    <%= f.label :Email %>
    <%= f.email_field :email %>
    <!-- password -->
    <%= f.label :Password %>
    <%= f.password_field :password %>
    <!-- checkbox -->
    <%= f.label :Remember_me do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
    <%= link_to("Forget password?",new_password_reset_path) %>
    <!-- submit -->
    <%= f.submit "Log in" %>
  <% end %>
</div>
<% end %>
<div class="note-start">
  <button>はじめる</button>
</div>
