<% if logged_in? %>
<!-- ログイン済みの場合のIndex -->
<div class="log-container">
  <h1>ログイン済みです。</h1>
  <section class="scratch-note">
    <% if @current_user.projects.any? %>
      <h3>Join project(<%= @current_user.projects.count %>)</h3>
      <ul class="project-contain">
        <%= render partial: 'shared/each_project', locals: { projects: @current_user.projects } %>
      </ul>
    <% end %>
  </section>
  <div class="pro-row">
    <section class="pro_form">
      <%= render partial: 'shared/project_form', locals: { project: @current_user.projects.build } %>
    </section>
  </div>
</section>
<% else %>
<!-- ログインしていない場合のIndex -->
<section class="nolog-container">
  <div class="main-contain">
    <div class="signup">
      <h2>Signup</h2>
    <% provide(:button_text, 'Create my account') %>
    <%= render 'shared/user_form' %>
    </div>
    <div class="login">
      <h2>Log in</h2>
      <div id ="login-form">
      <%= form_for(:session, url: login_path) do |f| %>
        <!-- email -->
        <%= f.label :Email %>
        <%= f.email_field :email %>
        <!-- password -->
        <%= f.label :Password %>
        <%= f.password_field :password %>
        <!-- checkbox -->
        <%= f.label :Remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
        <%= link_to("Forget password?",new_password_reset_path) %>
        <!-- submit -->
        <%= f.submit "Log in" %>
      <% end %>
      </div>
    </div>
    <div class="note-start">
      <h1 class="hero">Share notes For You and Team</h1>
      <button class="hero-button">はじめる</button>
    </div>
  </div>
</section>
<% end %>
