<% if logged_in? %>
<!-- ログイン済みの場合のIndex -->
<div class="note-container">
  <div class="note">
    <div class="scratch-search">
      <!--  Project-title_search機能  -->
      <div class="search-form">
        <h2>Projet Search</h2>
        <%= form_tag root_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], class: "search-box" %>
          <%= submit_tag 'Search', :name => nil, class: "submit-box" %>
        <% end %>
      </div>
      <div class="cate-form">
        <% unless @catetags.blank? %>
          <% @catetags.each do |ctags| %>
            <%= link_to ctags.name, root_path(category_id: ctags.id),class: "cate-link" %>
          <% end %>
        <%= link_to "全て", root_path,class: "cate-link" %>
        <% end %>
      </div>
    </div>
    <h2 class="pro-count">Project Count(<%= @project.count %>)</h2>
    <div class="pro-box">
      <h2 id="proadd-open">
        <span class="add-text">Add Project</span>
        <div class="add-icon"></div>
      </h2>
      <% if @current_user.projects.any? %>
          <%= render partial: 'shared/each_project', locals: { projects: @project } %>
      <% end %>
    </div>
    <% provide(:project_add, 'Create') %>
    <%= render partial: 'shared/project_form', locals: { project: @current_user.projects.build } %>
  </div>
</div>
<div id="mantle" class="hidden"></div>
<%= javascript_include_tag 'proadd-modal', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'flex', 'data-turbolinks-track': 'reload' %>
<% else %>
<!-- ログインしていない場合のIndex -->
<main class="fm-index">
  <div class="fm-container">
      <div class="fm-index-logo">
        <%= image_tag("/assets/Fm-index-logo.svg", :class => "fmscratch-logo", :alt => "FmScratch logo") %>
      </div>
      <p class="fm-make">Marshal info into notes</p>
      <p class="fm-description"><strong>Fm Scratch</strong>は情報整理のための共有サービスです。</p>
      <div class="fm-start">
        <div id="sign-open" class="sign-btn">
          Sign up
        </div>
        <div id="log-open" class="sign-btn">
          Log in
        </div>
      </div>
      <% provide(:button_text, 'Sign up') %>
      <%= render 'shared/user_form' %>
      <%= render 'shared/login_form' %>
  </div>
</main>
<div id="mask" class="hidden"></div>
<%= javascript_include_tag 'sign-modal', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'log-modal', 'data-turbolinks-track': 'reload' %>
<% end %>
