<% if logged_in? %>
  <h1>Projects#show</h1>
  <section class="card-show">
    <h2><%= @project.name %></h2>
    <p class="pro-image"><%= image_tag @project.picture.url, :size => "200x200" if @project.picture? %></p>
    <h2>Created Card</h2>
    <ul class="project-contain">
      <%= render partial: 'shared/each_card', locals: { cards: @cards } %>
    </ul>
  </section>
  <div class="card-row">
    <section class="card_form">
      <%= render partial: 'shared/card_form', locals: { card: @project.cards.build, project: @project } %>
    </section>
  </div>
<% else %>
<h3>ログインしてください</h3>
<%= render 'shared/login_form' %>
</div>
<% end %>
