<% if logged_in? %>
<div class="note-container">
  <div class="note">
    <div class="card-show">
      <div class="card-left">
        <h2 class="show-sub"><%= @card.subject %></h2>
        <% if @card.card_picture? %>
          <p class="cashow-image"><%= image_tag @card.card_picture.url, :size => "200x200" %></p>
        <% else %>
          <p class="cashow-image"><%= image_tag 'default.png', :size => "200x200" %></p>
        <% end %>
        <%= link_to "Edit", edit_card_path(@card), class: "back cashow-link" %>
        <% if current_user?(@card.user) %>
          <%= link_to "Delete", @card, method: :delete, data: { confirm: "Are you sure?" }, class: "back cashow-link" %>
        <% end %>
        <%= link_to 'Back', project_path(@project), class: "back cashow-link" %>
      </div>
      <div class="ca-markdown">
        <%= qiita_markdown(@card.content) %>
      </div>
    </div>
  </div>
</div>
<div id="cover" class="hidden"></div>
<% else %>
  <h3>ログインしてください</h3>
  <%= render 'shared/login_form' %>
<% end %>
