<header class="global-nav">
  <div class="header-line">
    <%= link_to "", root_path, class: "logo-img head-btn" %>
  </div>
  <% if logged_in? %>
    <div class="header-line">
      <nav class="fm-userNav">
        <ul class="fm-header-list">
          <li class="fm-menu"><%= link_to @current_user.name, current_user, class: "fm-userlink" %></li>
          <li class="fm-menu"><%= link_to 'Settings', root_path, class: "fm-userlink" %></li>
          <li class="fm-menu"><%= link_to 'Notice', root_path, class: "fm-userlink" %></li>
          <li class="fm-menu"><%= link_to 'Log out', logout_path, method: :delete, class: "fm-userlink" %></li>
        </ul>
      </nav>
    </div>
    <div id="cover"></div>
  <% else %>
    <div class="header-line">
      <%= link_to root_path, class: "fm-googlelink head-btn" do %>
        <span class="google-log">Google Login</sapn>
      <% end %>
    </div>
  <% end %>
</header>
