<% if logged_in? %>
<header class="Global-nav">
   <div class="header-Line">
     <h1 class="Fm-logo"><%= link_to "Share notes for You and Team", root_path, class: "logo-img" %>
     </h1>
     <nav class="Fm-userNav">
       <ul class="Fm-list">
         <li class="Fm-menu"><%= link_to @current_user.name, current_user, id: "user-btn",class: "Fm-Headlink" %></li>
         <li class="Fm-menu"><%= link_to 'Settings', root_path, class: "Fm-Headlink" %></li>
         <li class="Fm-menu"><%= link_to 'Notification', root_path, class: "Fm-Headlink" %></li>
         <li class="Fm-menu"><%= link_to 'Log out', logout_path, method: :delete, id: "user-btn",class: "Fm-Headlink" %></li>
       </ul>
     </nav>
   </div>
</header>
<% else %>
<header class="Global-nav">
    <div class="header-Line">
  	  <h1 class="Fm-logo"><%= link_to "Share notes for You and Team", root_path, class: "logo-img" %>
      </h1>
  		<nav class="Fm-userNav">
  		<ul class="Fm-list">
  			<li class="Fm-menu"><%= link_to 'Sign up', root_path, id: "user-btn",class: "Fm-Headlink" %></li>
  			<li class="Fm-menu"><%= link_to 'Log in', root_path, id: "user-btn",class: "Fm-Headlink" %></li>
  		</ul>
  	</nav>
  </div>
</header>
<% end %>
