<!DOCTYPE html>
<html>
  <head>
    <title>FmScratch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data({}) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag "tag-it", 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="fmscratch-content">
      <%= render partial: 'common/header' %>
      <% flash.each do |message_type,message| %>
        <div class="alert alert-<%= message_type %>" id="alert-box"><%= message %>
          <div id="fa-cancel">
            <i class="fa fa-times cancel" aria-hidden="true"></i>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <%= render partial: 'common/footer' %>
    </div>
    <script>
      setTimeout(function(){
        $('#alert-box').fadeOut();
      }, 3000);
      console.log("ddd");
    </script>
    <%= javascript_include_tag "preview", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "error", 'data-turbolinks-track': 'reload' %>
  </body>
</html>
